.navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding-bottom: 1rem;
}


.nav-title {
    align-self: flex-start;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0px;
}

.nav-buttons {
    display: flex;
    gap: 1rem;;
}

.nav-button {
    color: #3b5274;
    text-decoration: none;
    font-size: 14px;
    padding: 4px 20px;
    border-radius: 5px;
    background-color: #faf6ea;
    transition: background 0.3s;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.nav-button:hover {
    background-color: #CCC4AB;
}