.app {
    background-color: #faf6ea;
}

.pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-width: 30%;       
    min-width: 340px;
    margin: auto;  
}