@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Headland+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(60, 66, 87);
}

h1,
h2,
h3,
h5,
h6 {
    font-family: 'Epilogue', Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "MORF" 8,
      "SHLN" 50;
  }

h1 {
    font-family: "Headland One", serif;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: -1.5px;
    font-style: normal;
}

h4 {
    font-family: 'JetBrains Mono', Roboto, Helvetica, Arial, sans-serif;
}

p {
    font-size: 18px;
    line-height: 26px;
}

.no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }